.modal-transition {
  transition: all 0.3s ease; /* 自定义过渡时间和效果 */
}

.modal-transition-enter {
  opacity: 0;
  transform: scale(0.8); /* 从小到大的效果 */
}

.modal-transition-enter-active {
  opacity: 1;
  transform: scale(1); /* 到达正常大小 */
}

.modal-transition-leave {
  opacity: 1;
  transform: scale(1); /* 正常大小 */
}

.modal-transition-leave-active {
  opacity: 0;
  transform: scale(0.8); /* 缩小效果 */
}